<h2><%= t 'devise.views.registrations.new.title' %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, t('devise.attributes.email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, t('devise.attributes.password') %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, t('devise.attributes.password_confirmation') %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t('devise.views.registrations.new.submit') %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
