<h2><%= t 'devise.views.registrations.edit.title' %> <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :label => t('devise.attributes.email'), :required => true, :autofocus => true %>
    <%= f.input :password, :label => t('devise.attributes.password'), :autocomplete => "off", :hint => t('devise.views.registrations.edit.leave_blank'), :required => false %>
    <%= f.input :password_confirmation, :label => t('devise.attributes.password_confirmation'), :required => false %>
    <%= f.input :current_password, :label => t('devise.attributes.current_password'), :hint => t('devise.views.registrations.edit.current_password_confirm'), :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, t('devise.views.registrations.edit.submit') %>

  </div>
<% end %>

<h3><%= t 'devise.views.registrations.edit.cancel_account' %></h3>

<p><%= t 'devise.views.registrations.edit.submit' %> <%= link_to t('devise.views.registrations.edit.cancel_account'), registration_path(resource_name), :confirm => t('devise.views.registrations.edit.confirm'), :method => :delete %>.</p>

<%= link_to t('devise.views.registrations.edit.back'), :back %>
