<p><%= t 'devise.views.mailer.reset_password_instructions.title' %> <%= @resource.email %>!</p>

<p><%= t 'devise.views.mailer.reset_password_instructions.information' %>.</p>

<p><%= link_to t('devise.views.mailer.reset_password_instructions.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t 'devise.views.mailer.reset_password_instructions.ignore' %>.</p>
<p><%= t 'devise.views.mailer.reset_password_instructions.more_information' %>.</p>
